.house {
    border: 2px solid #EFF3F4;
    margin-bottom: 1em;
    padding: 5px;
}

.house-link, .house-link:active, .house-link:hover {
    text-decoration: none;
    color: black;
}

.house-image {
    max-width: calc(100%);
}